body{
    font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1,h2,h3{
    margin: 0;
  }
  
  .color{
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
  }

  #head{
    background: #fc5c65;
    color: #fff;
    padding: 10px;
  }
  
  #head h1{
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
  }
  
  #head ul{
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 6px 0;
  }
  
  #head li{
    float: right;
    margin-left: 20px;
  }
  
  #head a{
    color: #fff
  }
  
  main{
    background: #eee;
    width: 85%;
    margin: 30px auto;
    border-radius: 10px;
  }
 
  .content{
    padding: 20px;
  }
  
  .content button,
  .content input[type="submit"]{
    background: #2e2e2e;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #f1f1f1;
    border: 0;
    box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
    font-size: 16px;
  }

  .content button:hover{
    opacity: .9;
  }
  
  .content button:nth-child(2){
    float: right;
  }
  
  .content ul{
    padding: 0;
    list-style-type: none;
    margin: 30px 0;
  }
  
  .content li{
    padding: 15px 0;
    border-top: 1px solid #e2e2e2;
    color: #444;
  }
  
  .content li span{
    float: right;
  }
  
  .content li h3{
    display: inline-block;
    font-weight: normal;
    font-size: 22px;
  }
  
  .content input{
    width: 90%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 10px 0;
  }
  
  .content input[type="submit"]:last-child{
    width: 150px;
    display: block;
    margin: 15px auto;
  }
  
  .remove{
    float: right;
    padding: 5px;
    background: #fff;
    width: 18px;
    text-align: center;
    border-radius: 20px;
    color: crimson;
    cursor: pointer;
    margin-left: 10px;
  }
  .edit {
    float: right;
    padding: 5px;
    background: #fff;
    width: 18px;
    text-align: center;
    border-radius: 20px;
    color: rgba(66, 25, 85, 0.705);
    cursor: pointer;
    margin-left: 10px;
  }  
  footer {
    background: #f1f1f1;
    padding: 90px 0;
  }
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  .social-media {
    margin: 20px 0;
  }
  .social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
  .social-media a:hover {
    color: #fc5c65;
  }

  .right-col h1{
    font-size: 26px;
  }
  .border {
    width: 100px;
    height: 4px;
    background: #fc5c65;
  }

  